Repository d999ss/Tiger, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, qa-automation, vibetest, tiger-biosciences, tiger-aesthetics, tiger-wound-care, sientra, aveli, airway-medix, extremity-care, lizard-health, bellafill, birth-tissue-recovery, encore-surgical, html, css, javascript, python, shell-scripts, images, documents, fonts, wordpress, configuration, build, root-pages

.github/labeler.yml:

# Auto-labeling configuration for Pull Requests

# Documentation changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# QA and Testing
qa-automation:
  - 'qa-automation/**/*'
  - '**/*test*.py'
  - '**/*test*.js'

# Vibetest
vibetest:
  - 'vibetest-use/**/*'
  - '**/vibetest*'

# Company Websites
tiger-biosciences:
  - 'tigerbiosciences.com/**/*'

tiger-aesthetics:
  - 'tiger-aesthetics.com/**/*'

tiger-wound-care:
  - 'tigerwoundcare.com/**/*'

sientra:
  - 'sientra.com/**/*'

aveli:
  - 'myaveli.com/**/*'

airway-medix:
  - 'airway-medix.com/**/*'

extremity-care:
  - 'extremitycare.com/**/*'

lizard-health:
  - 'lizard-health.com/**/*'

bellafill:
  - 'bellafill.com/**/*'

birth-tissue-recovery:
  - 'birthtissuerecovery.com/**/*'

encore-surgical:
  - 'encoresurgicalsupplies.com/**/*'

# File Type Labels
html:
  - '**/*.html'

css:
  - '**/*.css'

javascript:
  - '**/*.js'

python:
  - '**/*.py'

shell-scripts:
  - '**/*.sh'

# Asset Types
images:
  - '**/*.png'
  - '**/*.jpg'
  - '**/*.jpeg'
  - '**/*.webp'
  - '**/*.svg'
  - '**/*.gif'

documents:
  - '**/*.pdf'

fonts:
  - '**/*.ttf'
  - '**/*.woff'
  - '**/*.woff2'
  - '**/*.eot'
  - '**/*.otf'

# WordPress
wordpress:
  - '**/wp-content/**/*'
  - '**/wp-includes/**/*'
  - '**/wp-json/**/*'

# Configuration
configuration:
  - '**/*.json'
  - '**/*.yml'
  - '**/*.yaml'
  - '**/*.xml'
  - '.github/**/*'
  - '.gitignore'

# Build and Deploy
build:
  - '**/*build*.sh'
  - '**/*create*.sh'
  - '**/*update*.sh'

# Root level pages
root-pages:
  - 'index*.html'
  - 'about*.html'
  - 'contact*.html'
  - 'products*.html'
  - 'careers*.html'
  - 'news*.html'

Add: Comprehensive repository completion summary
  REPOSITORY_COMPLETE.md
Labels: documentation

Add: Universal mega menu navigation to all pages
  HOMEPAGE_BUILD.html
  about-page.html
  bellafill-modern-demo.html
  design-comparison-dashboard.html
  healthcare-professionals.html
  inject-mega-nav.py
  investors.html
  news.html
  sientra-modern-demo.html
  tiger-aesthetics-modern-demo.html
  tiger-way-page.html
  universal-mega-nav.html
Labels: html, python, root-pages

Add: Comprehensive mega menu implementation documentation
  MEGA_MENU_IMPLEMENTATION.md
Labels: documentation

feat: consolidate homepage and refine typography for luxury aesthetic
  DESIGN_MODERNIZATION_GUIDE.md
  HOMEPAGE_BUILD.html
  HOMEPAGE_CLEANUP.md
  LATEST_UPDATE.md
  PYTHON_INSTALL_INSTRUCTIONS.md
  SITE_ANALYSIS_REPORT.md
  TODAY_PROGRESS.md
  VIBETEST_QUICK_START.md
  VIBETEST_SETUP_GUIDE.md
  airway-medix-modern-demo.html
  assets/css/modern-tiger.css
  bellafill-modern-demo.html
  design-comparison-dashboard-v2.html
  design-comparison-dashboard.html
  home.html
  index-enterprise-final.html
  index-enterprise-v2.html
  index-enterprise.html
  index-final.html
  index-forhuman.html
  index-perfect.html
  index.html
  myaveli-modern-demo.html
  sientra-modern-demo.html
  tiger-aesthetics-modern-demo.html
  tiger-biosciences-modern-demo.html
  tiger-modern-homepage.html
  vibetest-use/check-python.sh
Labels: documentation, vibetest, html, css, shell-scripts, root-pages

feat: implement world-class luxury design inspired by Porsche and AbbVie
  index.html
Labels: html, root-pages

🌟 PERFECTION EDITION: World-Class Refinements
  PERFECTION_CHANGELOG.md
  assets/css/tiger-luxury.css
  index.html
Labels: documentation, html, css, root-pages

📊 Add Design Excellence Report - Complete quality documentation
  DESIGN_EXCELLENCE_REPORT.md
Labels: documentation

🎨 Add Sanity CMS integration setup
  SANITY_COMPLETE_SETUP.md
  SANITY_SETUP_INSTRUCTIONS.md
  index.html
  package.json
  setup-sanity.sh
  studio-schemas/schemaTypes/division.ts
  studio-schemas/schemaTypes/faq.ts
  studio-schemas/schemaTypes/homepage.ts
  studio-schemas/schemaTypes/index.ts
  studio-schemas/schemaTypes/page.ts
  studio-schemas/schemaTypes/siteSettings.ts
  studio-schemas/schemaTypes/teamMember.ts
  studio-schemas/schemaTypes/testimonial.ts
Labels: documentation, html, shell-scripts, configuration, root-pages

✅ Complete Sanity Studio setup - Ready to use!
  sanity-config.json
  studio/package.json
  studio/sanity.cli.ts
  studio/sanity.config.ts
  studio/schemaTypes/division.ts
  studio/schemaTypes/faq.ts
  studio/schemaTypes/homepage.ts
  studio/schemaTypes/index.ts
  studio/schemaTypes/page.ts
  studio/schemaTypes/siteSettings.ts
  studio/schemaTypes/teamMember.ts
  studio/schemaTypes/testimonial.ts
  studio/tsconfig.json
Labels: configuration

📦 Add automated content extraction and import
  CONTENT_IMPORT_GUIDE.md
  import-content-to-sanity.js
  package.json
  sanity-content-export.json
  studio/package.json
Labels: documentation, javascript, configuration

🔑 Add token setup and import automation
  GET_API_TOKEN.md
  IMPORT_COMMANDS.sh
  studio/.sanity/runtime/app.js
  studio/.sanity/runtime/index.html
  studio/package.json
Labels: documentation, html, javascript, shell-scripts, configuration

✨ Connect HTML to Sanity CMS - Dynamic content loading!
  assets/js/sanity-client.js
  index.html
Labels: html, javascript, root-pages

🎉 CMS COMPLETE - Sanity Studio deployed and working!
  CMS_COMPLETE_SUCCESS.md
Labels: documentation

🐛 Fix homepage scroll issues
  assets/css/tiger-luxury.css
  index.html
Labels: html, css, root-pages

🚀 FINAL PERFECTION: Complete optimization suite
  DESIGN_MODERNIZATION_GUIDE.md
  PYTHON_INSTALL_INSTRUCTIONS.md
  SITE_ANALYSIS_REPORT.md
  TIGER_VERCEL_QA_REPORT.md
  TODAY_PROGRESS.md
  VIBETEST_QUICK_START.md
  VIBETEST_SETUP_GUIDE.md
  VISUAL_QA_REPORT.md
  airway-medix-modern-demo.html
  assets/css/modern-tiger.css
  assets/css/tiger-luxury.css
  design-comparison-dashboard-v2.html
  design-comparison-dashboard.html
  encoresurgical-modern-demo.html
  index.html
  manifest.json
  myaveli-modern-demo.html
  robots.txt
  sientra-modern-demo.html
  sitemap.xml
  tiger-aesthetics-modern-demo.html
  tiger-biosciences-modern-demo.html
  vibetest-use/check-python.sh
Labels: documentation, vibetest, html, css, shell-scripts, configuration, root-pages

🏆 ACHIEVEMENT SUMMARY - Complete documentation of excellence
  ACHIEVEMENT_SUMMARY.md
Labels: documentation

🔧 Fix z-index layering: Elements no longer slip behind sticky header
  assets/css/tiger-luxury.css
Labels: css

📄 Complete Content System: Generated 25 Pages with Full SEO & Tokens
  CONTENT_STRATEGY.md
  about.html
  acapatch.html
  aesthetic-medicine.html
  alloply.html
  aveli.html
  bellafill.html
  breast.html
  camps-technology.html
  careers.html
  caregraft.html
  clinical-trials.html
  faq.html
  generate-all-pages.py
  healpack.html
  orthopedic.html
  page-content-data.json
  patents.html
  products.html
  publications.html
  quality-assurance.html
  regenerative-medicine.html
  regulatory.html
  research-pipeline.html
  science.html
  tissue-reconstruction.html
  training.html
  wound-care.html
Labels: documentation, html, python, configuration, root-pages

✅ COMPLETE: All 50+ Pages Generated with Full Content & SEO
  catalog.html
  certifications.html
  clinical-support.html
  complete-all-pages.json
  facilities.html
  general-surgery.html
  generate-missing-pages.py
  grants.html
  healthcare-professionals.html
  hospitals.html
  investigator.html
  investors.html
  legal.html
  manufacturing.html
  news.html
  page-content-data.json
  partnerships.html
  plastic-surgery.html
  podiatry.html
  privacy.html
  reimbursement.html
  solutions.html
  support.html
  terms.html
  tiger-way.html
  vertical-integration.html
  wound-centers.html
Labels: html, python, configuration, root-pages

🔧 Content Expansion System: Analysis & Template Framework
  analyze-page-content.py
  expanded-content-templates.py
  generate-expanded-pages.py
Labels: python
